body{
    background-color: goldenrod;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: goldenrod; */
    background-color: darkgoldenrod;
    position: fixed;
    /* Safari */
    position: sticky;
    top: 0;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0px 5px 15px 0px black;
    border-radius: 10px;
}

li {
    float: left;
    border-right: 1px solid black;
}
li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: goldenrod;
}

.active {
    background-color: #4CAF50;
}

.goatlogo{
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px;

}

.textholder{
    background-color: darkslategrey;
    color: gold;
    width: 75%;
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 5px 15px 0px black;
    border-radius: 10px;
    
}