body{
    background-color: goldenrod;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: goldenrod; */
    background-color: darkgoldenrod;
    position: fixed;
    /* Safari */
    position: sticky;
    top: 0;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0px 5px 15px 0px black;
    border-radius: 10px;
    min-width: 400px;
}

li {
    float: left;
    padding: 5px;
    /* border-right: 1px solid black; */
}
.mainday{
    background-color: black;
    color: goldenrod;
}

.about {
    background-color: black;
    color: goldenrod;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    background-color: goldenrod;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px;

}

li a:hover {
    background-color: black;
    color: goldenrod;
    animation-name: bounce;
    animation-duration: .3s;
    box-shadow: 0px 5px 15px 0px;
    transform: scale(1.2);

}

.goatlogo{
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px;
    padding-top: 10px;
    background-color: white;
}

.textholder{
    background-color:rgb(41, 46, 42);
    color: gold;
    width: 75%;
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 5px 15px 0px black;
    border-radius: 10px;
}

@keyframes bounce {
    from {background-color: goldenrod;}
    to {background-color: black;}
}