body{
    background-color: goldenrod;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: goldenrod;
    position: fixed;
    /* Safari */
    position: sticky;
    top: 0;
    
}

li {
    float: left;
    border-right: 1px solid black;
}
li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white
}

.active {
    background-color: #4CAF50;
}

.goatlogo{
    
    width: 150px;
    height: 150px;
    float: right;
}

img{
    width: 300px;
    height: 300px;
    
}


p{
    float: right;
}
table{
    float: right;
    border-color: black;
    
}